MONGO_URL='mongodb+srv://<username>:<password>@cluster0.pc1no.mongodb.net/sessions?retryWrites=true&w=majority'
MARIA_DB_USER='user'
MARIA_DB_PASSWORD='password'

MONGO_DB_HOST=mongodb+srv://<username>:<password>@cluster0.pc1no.mongodb.net
MONGO_DB_USER_DATABASE=MongoDBUserDatabase
MONGO_DB_SESSIONS_DATABASE=MongoDBSessionsDatabase

SECRET_PHRASE='secret'

#RAILWAY
PG_DB_USER=pgUser
PG_DB_PASSWORD=pgPassword
PG_DB_HOST=pgHost
PG_DB_PORT=pgPort
PG_DB_DATABASE=pgDatabase