#MARIA DB
MARIA_DB_USER='user'
MARIA_DB_PASSWORD='password'
MARIA_DB_HOST='localhost'
MARIA_DB_PORT=8000
MARIA_DB_DATABASE='productsDatabase'

#MONGO DB
MONGO_URL=mongodb+srv://<username>:<password>@cluster0.pc1no.mongodb.net/sessions?retryWrites=true&w=majority
MONGO_DB_HOST=mongodb+srv://<username>:<password>@cluster0.pc1no.mongodb.net
MONGO_DB_USER_DATABASE=MongoDBUserDatabase
MONGO_DB_SESSIONS_DATABASE=MongoDBSessionsDatabase


#POSTGRESQL RAILWAY
PG_DB_USER=pgUser
PG_DB_PASSWORD=pgPassword
PG_DB_HOST=pgHost
PG_DB_PORT=pgPort
PG_DB_DATABASE=pgDatabase
DATABASE_URL=postgresql://${{ PG_DB_USER }}:${{ PG_DB_PASSWORD }}@${{ PG_DB_HOST }}:${{ PG_DB_PORT }}/${{ PG_DB_DATABASE }}

#Secret Session
SECRET_PHRASE='secret'
