
.message-email {
  font-style: bold;
  color: blue;
}

.message-date {
  font-style: italic;
  color: brown;
}

.message-text {
  font-style: italic;
  color: rgb(25, 26, 24);
}
.container-nameSession {
  display: flex;
  /* space beetwen */
  justify-content: space-between;
  align-items: center;
}

.card-login {
  display: grid;
  grid-template-rows: 100vh;
  place-items: center;
}
