<div class="card border-danger mb-3" >
  <div class="card-header">Random Number</div>
  <div class="card-body" style="color: black;">
    <p>PORT: {{PORT}}</p>
    <p>Result:</p>
     {{#randomNumberToJSON result}}
     {{/randomNumberToJSON}}
  </div>
</div>
